<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Introduce yourself</title>
  </head>
  <body>
    <fieldset>
      <legend>Provide your name</legend>
      <form method="POST" action="/show">
        <label for="name"></label>
        <input type="text" name="name" id="">
        <select  name="gender">
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
        <input type="submit" value="Submit">
      </form>

    </fieldset>
  </body>
</html>
